body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #0748c949;
  color: #f6f6f6;
}

.app {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  max-width: 400px;
  background: #272626;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 2rem;
  color: #eaea16f2;
}

.calculator {
  margin-top: 20px;
}

.input-group {
  margin: 15px 0;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn-calculate {
  background-color: #64962e;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 5px;
}

.btn-reset {
  background-color: #c9493f;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 5px;
}

.btn-calculate:hover {
  background-color: #45a049;
}

.btn-reset:hover {
  background-color: #e53935;
}

.result {
  margin-top: 20px;
}

.result h2 {
  font-size: 1.5rem;
  color: #f5f363;
}

.result p {
  font-size: 1.2rem;
}
